/* VARIABLE DELCARATIONS --- */

:root {
  --header-height: 80px;
  --max-width: 1200px;
  --heading-color: #000;
  --body-color: #000;
  --bg-color: rgba(255, 255, 255, 0.7);
  --bg-color-solid: rgba(255, 255, 255, 1);
  --alt-bg-color: linear-gradient(to right, rgba(247, 247, 247, 0.7), rgba(250, 250, 250, 0.7));
  --alt-bg-color-solid: linear-gradient(to right, rgba(247, 247, 247, 1), rgba(250, 250, 250, 1));
  --btn-text-color: #000;
  --btn-bg-color: #f7f7f7;
  --highlight-color: #ffff00;
  --accent-color: #028fff;
  --section-padding: 40px;
  --gutter-padding: 15px;
  --border-radius: 5px;
}

/* RESET & GENERAL STYLES */

*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color-solid);
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

ul, ol, li {
  list-style: none;
}

button, input[type="button"], input[type="submit"] {
  border: none;
  background: none;
  outline: none;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: .8;
}

/* FONTS --- */

h1 {
  font-size: 80px;
  color: var(--heading-color);
}

h2 {
  font-size: 50px;
  color: var(--heading-color);
}

h3 {
  font-size: 30px;
  color: var(--heading-color);
}

h4 {
  font-size: 20px;
  color: var(--heading-color);
}

p, li, button {
  font-size: 20px;
  line-height: 150%;
  color: var(--body-color);
}

footer p,
footer li,
.about-technology p {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 17px;
  }
  p, li, button {
    font-size: 17px;
  }
  footer p,
  footer li,
  .about-technology p {
  font-size: 12px;
}
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h4 {
  font-weight: 500;
}

button {
  font-weight: 500;
}

p, li {
  font-weight: 200;
}

/* BUTTON & LINK STYLES --- */

.btn {
  height: 60px;
  min-width: 60px;
  color: var(--body-color);
  border: 1px solid var(--body-color);;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  background-image: linear-gradient(to right, var(--highlight-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  background-position: 0 0;
  transform: scale(1.05);
}

.btn-lg {
  min-width: 120px;
}

.icon-btn {
  padding: 5px;
  cursor: pointer;
}

.icon-btn:hover {
  transform: scale(1.05);
}

.link {
  background-image: linear-gradient(to right, var(--highlight-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.2s ease-in;
  cursor: pointer;
}

.link:hover {
  background-position: 0 0;
}

.link-active {
  background: none;
}

.heading-active {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-color) 50%);
  background-size: 200% 100%;
  background-position: -100% 0;
  transition: background-position 0.5s ease-in;
}

/* APP --- */

.app {
  position: relative;
}

/* HEADER --- */

.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  background: var(--alt-bg-color);
  transition: 0.2s ease-in-out;
  z-index: 100;
}

.header.sticky {
  background: var(--bg-color-solid);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header-content {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
  padding: 0 var(--gutter-padding);
}

.header-logo-container {
  margin-left: -5px;
}

.header-logo-container h3 {
  padding: 5px 10px;
}

.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .header-nav {
    display: none;
  };
}

.header-nav li {
  padding: 5px 10px;
}

.header-cta-btn {
  display: inline;
}

@media screen and (max-width: 700px) {
  .header-cta-btn {
    display: none;
  }
}

.mobile-menu-btn {
  display: none;
  z-index: 205;
}

@media screen and (max-width: 700px) {
  .mobile-menu-btn {
    display: inline;
  }
}

/* MOBILE MENU --- */

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--bg-color-solid);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  z-index: 200;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* HERO SECTION --- */

.hero-section {
  height: calc(100vh - var(--header-height));
  min-height: 500px;
  background: var(--alt-bg-color);
}

.hero-content {
  height: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: calc(var(--section-padding) *2) var(--gutter-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-heading {
  height: calc(100% - var(--header-height) - var(--section-padding));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-btn-container {
  height: 80px;
  width: 80px;
  border: 1px solid var(--body-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveUpDown 4s infinite;
  background-image: linear-gradient(to right, var(--highlight-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.2s ease-in;
}

.hero-btn {
  animation: moveUpDown 4s infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.hero-btn-container:hover {
  animation: none;
  background-position: 0 0;
}

.hero-btn:hover {
  animation: none;
  padding-top: 20px;
}

/* GENERAL SECTION STYLES --- */

.section {
  background-color: var(--bg-color);
}

.alt-bg {
  background: var(--alt-bg-color);
}

.section-content {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--section-padding) var(--gutter-padding);
}

.section-heading {
  padding-bottom: var(--section-padding);
  margin-left: -5px;
}

.section-heading h2 {
  display: inline;
  padding: 5px 10px;
}

/* SERVICES SECTION --- */

.services-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .services-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .services-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services-card {
  height: 150px;
  width: 100%;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 700px) {
  .services-card {
    height: 115px;
  }
}

.services-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.services-card p {
  line-height: 125%;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
  transition: transform 0.8s ease;
}

.card-front {
  background: var(--alt-bg-color-solid);
  text-align: left;
}

.card-back {
  transform: rotateY(180deg);
  background: var(--highlight-color);
}

.flipped .card-front {
  transform: rotateY(180deg);
  transition: transform 0.8s ease;
}

.flipped .card-back {
  transform: rotateY(360deg);
  transition: transform 0.8s ease;
}

/* ABOUT SECTION --- */

.about-video-with-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: var(--section-padding);
}

@media screen and (max-width: 1000px) {
  .about-video-with-text-container {
    flex-direction: column;
    gap: 30px;
  }
}

.about-text-section {
  width: 50%;
  padding-right: 25px;
}

@media screen and (max-width: 1000px) {
  .about-text-section {
    width: 100%;
    padding-right: 0;
  }
}

.about-text {
  padding-bottom: 20px;
  max-width: 95%;
}

.about-technology-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.about-technologies {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.about-technology {
  padding: 4px 10px;
  background: var(--bg-color);
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.tooltip-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 4px;
}

.tooltip-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-content {
  position: relative;
  width: 90%;
  max-width: 600px;
  height: 300px;
  background: var(--bg-color-solid);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
}

.tooltip-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.about-media-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .about-media-section {
    width: 100%;
  }
}

.about-media {
  max-width: 100%;
  border-radius: var(--border-radius);
  object-fit: contain;
}

.about-trust-badge-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .about-trust-badge-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-trust-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 5px;
  gap: 10px;
  background: var(--bg-color);
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
}
.trust-badge-content {
  max-width: 190px;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .trust-badge-content p {
      font-size: 15px;
  }
}

/* CONTACT SECTION --- */

.contact-text-section {
  width: 65%;
}

@media screen and (max-width: 1000px) {
  .contact-text-section {
    width: 100%;
  }
}

.contact-text {
  padding-bottom: var(--section-padding);
  max-width: 95%;
}

.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: calc(var(--section-padding) * -2);
}

@media screen and (max-width: 1000px) {
  .contact-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 35px 5px;
  gap: 10px;
  background: var(--alt-bg-color);
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
}

/* FAQ SECTION --- */

.faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.toggle-container input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 80px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .toggle-container label {
    width: 60px;
    height: 30px;
    border-radius: 60px;
  }
}

@media screen and (max-width: 700px) {
  .toggle-container label {
    width: 50px;
    height: 25px;
    border-radius: 50px;
  }
}

.toggle-container label:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 35px;
  transition: 0.3s;
}

@media screen and (max-width: 1000px) {
  .toggle-container label:after {
    width: 25px;
    height: 25px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 700px) {
  .toggle-container label:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
}

.toggle-container input:checked + label {
  background: #bada55;
}

.toggle-container input:checked + label:after {
  left: calc(100% - 2.5px);
  transform: translateX(-100%);
}

.toggle-container label:active:after {
  width: 35px;
}

@media screen and (max-width: 1000px) {
  .toggle-container label:active:after {
    width: 25px;
  }
}

@media screen and (max-width: 700px) {
  .toggle-container label:active:after {
    width: 20px;
  }
}

.faq-container {
  width: 100%;
}

.faq-item:first-of-type {
  border-top: 1px solid var(--body-color);
}

.faq-item {
  border-bottom: 1px solid var(--body-color);
  transition: all 0.3s ease;
  padding: 0 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.faq-answer {
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.faq-answer-content {
  padding: 0px 20px 25px 0px;
}

.faq-icon {
  margin-left: 10px;
}

/* FOOTER --- */

.footer-content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .footer-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}

.footer-copyright-text {
  padding: 5px 10px;
  margin-left: -10px;
}

@media screen and (max-width: 500px) {
  .footer-copyright-text {
    margin-left: 0px;
  }
}

.footer-nav {
  display: flex;
  gap: 20px;
  margin-right: -5px;
}

@media screen and (max-width: 500px) {
  .footer-nav {
    margin-right: 0px;
  }
}

.footer-nav li {
  padding: 5px 10px;
}

/* POLICIES --- */
