/* General Styles */
*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

p, li, button {
  font-size: 20px;
  line-height: 150%;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  p, li, button {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

button, input[type="button"], input[type="submit"] {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.link {
  transition: background-color 0.5s ease-in-out;
}

.link:hover {
  cursor: pointer;
  background: yellow;
}

.active {
  background: yellow;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.header-cta-button {
  height: 60px;
  width: 120px;
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 10px 20px;
}

.next-section-button {
  height: 60px;
  width: 60px;
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 10px 20px;
}

.mobile-menu-button {
  height: 60px;
  width: 60px;
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 10px 20px;
}

.mobile-cta-button {
  height: 60px;
  width: 120px;
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 10px 20px;
}

/* APP --- */

.app {
  position: relative;
}

/* HEADER --- */

.header {
  position: sticky;
  top: 0;
  height: 100px;
  background: #f7f7f7;
}

.header.sticky {
  background-color: #fff;
}

.header-content {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}



.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 700px) {
  .header-nav {
    display: none;
  };
}

.header-nav li {
  padding: 5px 20px;
}

.header-cta-button {
  display: inline;
}

@media screen and (max-width: 700px) {
  .header-cta-button {
    display: none;
  }
}

.mobile-menu-button {
  display: none;
  z-index: 200;
}

@media screen and (max-width: 700px) {
  .mobile-menu-button {
    display: inline;
  }
}

/* MOBILE MENU --- */

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


/* HERO SECTION --- */

.section-hero {
  height: calc(100vh - 100px);
  min-height: 500px;
  background-color: #f7f7f7;
}

.hero-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-heading {
  height: calc(100% - 100px - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* SERVICES SECTION --- */

.section-services {
  background-color: #fff;
}

.services-content {
  max-width: 1200px;
  margin: auto;
  padding: 60px 10px;
}

.services-heading {
  padding-bottom: 60px;
}

.services-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .services-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services-card {
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 20px 10px;
}

/* TECHNOLOGIES SECTION --- */

.section-technologies {
  background-color: #028fff;
}

.technologies-content {
  max-width: 1200px;
  margin: auto;
  padding: 60px 10px;
  text-align: center;
  color: #fff;
}

.technologies-heading {
  padding-bottom: 40px;
}

.technologies-text {
  max-width: 80%;
  margin: auto;
}

