/* VARIABLE DELCARATIONS --- */

:root {
  --header-height: 100px;
  --max-width: 1200px;
  --heading-color: #000;
  --body-color: #000;
  --bg-color: #fff;
  --alt-bg-color: #f7f7f7;
  --btn-text-color: #000;
  --btn-bg-color: #f7f7f7;
  --highlight-color: #ffff00;
  --section-padding: 60px;
  --gutter-padding: 15px;
  --border-radius: 5px;
}

/* RESET & GENERAL STYLES */

*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul, ol, li {
  list-style: none;
}

button, input[type="button"], input[type="submit"] {
  border: none;
  background: none;
  outline: none;
}

/* ELEMENT SIZES --- */

h1 {
  font-size: 80px;
  color: var(--heading-color);
}

h2 {
  font-size: 50px;
  color: var(--heading-color);
}

h3 {
  font-size: 30px;
  color: var(--heading-color);
}

h4 {
  font-size: 20px;
  color: var(--heading-color);
}

p, li, button {
  font-size: 20px;
  line-height: 150%;
  color: var(--body-color);
}

footer p,
footer li {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  p, li, button {
    font-size: 15px;
  }
  footer p,
  footer li {
  font-size: 12px;
}
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
}

/* BUTTON & LINK STYLES --- */

.btn {
  height: 60px;
  min-width: 60px;
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 1px solid var(--btn-text-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
}

.btn-lg {
  min-width: 120px;
}

.btn:hover {
  cursor: pointer;
}

.link {
  background-image: linear-gradient(to right, var(--highlight-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.2s ease-in;
}

.link:hover {
  cursor: pointer;
  background-position: 0 0;
}

.link-active {
  background: none;
}

.heading-active {
  background-image: linear-gradient(to right, transparent 50%, var(--highlight-color) 50%);
  background-size: 200% 100%;
  background-position: -100% 0;
  transition: background-position 0.5s ease-in;
}

/* APP --- */

.app {
  position: relative;
}

/* HEADER --- */

.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  background: var(--alt-bg-color);
  transition: 0.5s ease-in-out;
}

.header.sticky {
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.header-content {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
  padding: 0 var(--gutter-padding);
}

.header-logo-container {
  margin-left: -5px;
}

.header-logo-container h3 {
  padding: 5px 10px;
}

.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .header-nav {
    display: none;
  };
}

.header-nav li {
  padding: 5px 10px;
}

.header-cta-btn {
  display: inline;
}

@media screen and (max-width: 700px) {
  .header-cta-btn {
    display: none;
  }
}

.mobile-menu-btn {
  display: none;
  z-index: 200;
}

@media screen and (max-width: 700px) {
  .mobile-menu-btn {
    display: inline;
  }
}

/* MOBILE MENU --- */

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* HERO SECTION --- */

.hero-section {
  height: calc(100vh - var(--header-height));
  min-height: 500px;
  background-color: var(--alt-bg-color);
}

.hero-content {
  height: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--section-padding) var(--gutter-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-heading {
  height: calc(100% - var(--header-height) - var(--section-padding));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* GENERAL SECTION STYLES --- */

.section {
  background-color: var(--bg-color);
}

.alt-bg {
  background-color: var(--alt-bg-color);
}

.section-content {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--section-padding) var(--gutter-padding);
}

.section-heading {
  padding-bottom: var(--section-padding);
  margin-left: -5px;
}

.section-heading h2 {
  display: inline;
  padding: 5px 10px;
}

/* SERVICES SECTION --- */

.services-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .services-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services-card {
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 30px 10px;
  border-radius: 5px;
}

/* ABOUT SECTION --- */

.about-video-with-text-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: var(--section-padding);
}

@media screen and (max-width: 1000px) {
  .about-video-with-text-container {
    flex-direction: column;
  }
}

.about-text-section {
  width: 50%;
  padding-right: 25px;
}

@media screen and (max-width: 1000px) {
  .about-text-section {
    width: 100%;
  }
}

.about-text {
  padding-bottom: 20px;
  max-width: 95%;
}

.about-technology-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.about-technology {
  padding: 5px 12px;
  background: var(--bg-color);
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
}

.about-video-section {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .about-video-section {
    width: 100%;
  }
}

.about-video {
  min-height: 400px;
  border: 1px solid #000;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-trust-badge-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .about-trust-badge-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-trust-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 5px;
  gap: 10px;
  background: var(--bg-color);
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
}

/* CONTACT SECTION --- */

.contact-text-section {
  width: 50%;
  padding-right: 25px;
}

@media screen and (max-width: 1000px) {
  .contact-text-section {
    width: 100%;
  }
}

.contact-text {
  padding-bottom: var(--section-padding);
  max-width: 95%;
}

.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: calc(var(--section-padding) * -2);
}

@media screen and (max-width: 1000px) {
  .contact-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 35px 5px;
  gap: 10px;
  background: var(--alt-bg-color);
  border: 1px solid var(--body-color);
  border-radius: var(--border-radius);
}

/* FAQ SECTION --- */

.faq-container {
  width: 100%;
}

.faq-item:first-of-type {
  border-top: 1px solid var(--body-color);
}

.faq-item {
  padding: 25px 5px;
  border-bottom: 1px solid var(--body-color);
  transition: all 0.3s ease;
}

.faq-question {
  padding: 15px 0;
  cursor: pointer;
}

.faq-answer {
  padding: 0 10px;
  padding-top: 25px;
}

/* FOOTER --- */

.footer-content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .footer-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}

.footer-copyright-text {
  padding: 5px 10px;
  margin-left: -10px;
}

@media screen and (max-width: 500px) {
  .footer-copyright-text {
    margin-left: 0px;
  }
}

.footer-nav {
  display: flex;
  gap: 20px;
  margin-right: -5px;
}

@media screen and (max-width: 500px) {
  .footer-nav {
    margin-right: 0px;
  }
}

.footer-nav li {
  padding: 5px 10px;
}