/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

p, li, button {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  p, li, button {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

button, input[type="button"], input[type="submit"] {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
  opacity: .8;
}

.button:hover {
  cursor: pointer;
}

.header-cta-button {
  height: 60px;
  width: 120px;
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 10px 20px;
}

.next-section-button {
  height: 60px;
  width: 60px;
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 10px 20px;
}

.mobile-menu-button {
  height: 60px;
  width: 60px;
  background: #f7f7f7;
  border: 1px solid #000;
  padding: 10px 20px;
}

/* HEADER --- */

.header {
  height: 100px;
  background: #f7f7f7;
}

.header-content {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 700px) {
  .header-nav {
    display: none;
  };
}

.header-nav li {
  padding: 5px 10px;
}

.header-cta-button {
  display: inline;
}

@media screen and (max-width: 700px) {
  .header-cta-button {
    display: none;
  }
}

.mobile-menu-button {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobile-menu-button {
    display: inline;
  }
}

/* HERO SECTION --- */

.section-hero {
  height: calc(100vh - 100px);
  min-height: 500px;
  background-color: #f7f7f7;
}

.hero-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.hero-heading {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-cta {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}